<ion-split-pane contentId="third-content" [disabled]="!enablePane">
  <ion-menu contentId="third-content" menuId="third">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          Menu 3
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="third" auto-hide="false">
          <ion-item routerLink="/tabs/tab3/login" routerDirection="root" routerLinkActive="active-item">
            <ion-label>
              login
            </ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/tab3/logout" routerDirection="root" routerLinkActive="active-item">
            <ion-label>
              logout
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="third-content"></ion-router-outlet>
</ion-split-pane>